<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

</head>
<body>


	<div class="form-group graphicType mb-5">

		<label for="graphicType" class="pr-2 d-block">Chọn dạng biểu
			đồ:</label>

		<div class="pl-4">
			<div class="custom-control custom-radio custom-control-inline">
				<input type="radio" id="columnGraph" name="graphicType"
					class="custom-control-input" value="line"> <label
					class="custom-control-label" for="columnGraph">Line</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline">
				<input type="radio" id="barGraph" name="graphicType"
					class="custom-control-input" value="bar" checked> <label
					class="custom-control-label" for="barGraph">Barra</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline">
				<input type="radio" id="pizzaGraph" name="graphicType"
					class="custom-control-input" value="pie"> <label
					class="custom-control-label" for="pizzaGraph">Pizza</label>
			</div>
		</div>
	</div>
	<div id="chart" class="mx-auto"></div>
	<div>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Adress</th>
					<th scope="col">Birthday</th>
					<th scope="col">Employee name</th>
					<th scope="col">Password</th>
					<th scope="col">Phone number</th>
					<th scope="col">salary</th>
					<th scope="col">Username</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${listEmployees}">
					<td th:text="${employee.id}"></td>
					<td th:text="${employee.birthdayDay}"></td>
					<td th:text="${employee.adress}"></td>
					<td th:text="${employee.employeeName}"></td>
					<td th:text="${employee.password}"></td>
					<td th:text="${employee.phoneNumber}"></td>
					<td th:text="${employee.salary}"></td>
					<td th:text="${employee.userName}"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<script>
		$(document).ready(function() {
			$.ajax({
				url : "employees",
				type : "Get",
				dataType : 'json',
				success : function(data) {
					InitChart(data);
				}
			})
		});
	</script>
	<script type="text/javascript" th:src="@{/js/chart.js}"></script>
</body>
</html>